<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Aici se definește viewport-ul -->
    <title>Cererile Mele</title>
    <link rel="stylesheet" href="/static/avizier.css">

</head>
<body>
    <div class="button-container">
        <button class="backButton" onclick="window.location.href='/templates/startPage';">Înapoi</button>
    </div>
    
    <div class="scoreboard-table">
    <table>
        <thead>
            <tr>
                <th>Titlu Cerere</th>
                <th>Descriere</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.titlu }}</td>
                    <td>{{ row.descriere }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nu există cereri disponibile.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
