<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avizier</title>
    <link rel="stylesheet" href="/static/avizier.css">
</head>
<body>
    <div class="button-container">
        <button class="backButton" onclick="window.location.href='/templates/startPage';">Înapoi</button>
    </div>

    <div class="container">
        <h1>Avizier</h1>
        <div class="avizier">
            <!-- Iterează prin cererile din baza de date și le afișează -->
            {% for request in requests %}
                <div class="ticket"
                data-title="{{ request.titlu }}" 
                data-description="{{ request.descriere }}" 
                data-status="{{ request.status }}" 
                data-date="{{ request.data_cerere }}"
                data-task-id="{{ request.id }}" 
                data-email="{{ request.email }}">
                    <div class="ticket-title">{{ request.titlu }}</div>
                    <div class="ticket-description">{{ request.descriere }}</div>
                    <div class="ticket-status">{{ request.status }}</div>
                    <div class="ticket-date">{{ request.data_cerere }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal for showing message details -->
    <div id="messageModal" class="modal">
        <div class="modal-content">
            <h2 id="modalTitle">Titlu mesaj</h2>
            <p id="modalDescription">Descriere mesaj</p>
            <p id="modalStatus"></p> <!-- Status -->
            <p id="modalDate"></p>   <!-- Data -->
            <button id="acceptButton">Accept</button>
        </div>
    </div>
    

    <script src="/static/script.js"></script>
</body>
</html>
